<!DOCTYPE html>
<html>
<head>
    <title>AI Resume Analyzer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-dark text-white">

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg" style="width: 450px; border-radius: 20px;">
        <h3 class="text-center mb-4">🚀 AI Resume Analyzer</h3>

        <form method="POST" enctype="multipart/form-data">
    
    <label class="form-label">Select Job Role</label>
    <select name="job_role" class="form-select mb-3">
        {% for role in roles %}
            <option value="{{ role }}">{{ role }}</option>
        {% endfor %}
    </select>

    <label class="form-label">Upload Resume (PDF)</label>
    <input type="file" name="resume" class="form-control mb-3" required>

    <hr class="text-dark">

    <label class="form-label mt-2">Paste Job Description (Optional)</label>
    <textarea name="job_description"
              class="form-control mb-3"
              rows="5"
              placeholder="Paste job description here..."></textarea>

    <button class="btn btn-primary w-100">Analyze Resume</button>
</form>
    </div>
</div>

</body>
</html>